.btn {
	border-radius: 2px;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .17);
	font-family: $SFUIDisplay900;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 45px;	
	padding: 0 47px 0 50px;
	border: 0;

	&.btn-success {
		background-color: $green;

		&:hover {
			background-color: $green;			
		}
	}
}