body {
  .content {
    background-color: $white;
    box-shadow: 0 7px 19px 0 rgba(0, 0, 0, .17);
    margin: 10px -20px 0;
    position: relative;

    h1 {
      text-align: left;
    }

    @include breakpoint(md) {
      margin: 103px 0 0;
    }

    p {
      color: $black;
    }

    .block {
      padding: 0 30px;

      @include breakpoint(md) {
        padding: 0 75px;
      }

      &.grey {
        background-color: $grey;
      }

      .list-item {
        position: relative;
        padding-left: 29px;
        margin-bottom: 20px;

        @include breakpoint(md) {
          padding-right: 33px;
          margin-bottom: 58px;
        }

        &.check {
          &::before {
            content: '';
            background: url('../images/check.svg');
            display: block;
            height: 7.7px;
            left: 0;
            position: absolute;
            width: 10px;
          }
        }

        &:not(.check) {
          &::before {
            content: '';
            background: $blue;
            height: 8px;
            width: 8px;
            left: 0;
            position: absolute;
            top: 0;
          }
        } 
      }
    }

    .challenger {
      .bordered-left {
        max-width: 400px;
        margin: 40px auto;
        padding: 21px 18px; 

        @include breakpoint(md) {
          margin: 0;
        }

        @include breakpoint(lg) {
          margin: 0 0 0 45px;
          padding: 21px 0 21px 18px;
        }
      }
    }

    .contact-us {
      margin-top: 60px;

      @include breakpoint(md) {
        margin-top: 0;
      }
    }

    .solution {
      .banner {
        max-width: 615px;
        width: 100%;
        margin: auto;
      }

      .heading-border {
        margin-top: 71px;
        margin-bottom: 16px;

        @include breakpoint(lg) {
          margin-top: 175px;
        }
      }

      .shield {
        margin-top: 0;

        @include breakpoint(lg) {
          margin-top: 61px;
        }
      }

      .text {
        margin-bottom: 50px;

        @include breakpoint(lg) {
          margin-left: 48px;
          padding-right: 71px;
        }
      }
    }

    .partners {
      padding-top: 72px;
      padding-bottom: 82px;
    }

    .newsletter {
      padding: 152px 15px 139px;
      background: url('../images/newsletter.png') no-repeat center;
      background-size: cover;

      form {
        text-align: center;
        max-width: 331px;
        margin: auto;

        .input-group {
          border: 0;

          ::-webkit-input-placeholder {
            color: $light-grey;
          }
          ::-moz-placeholder {
            color: $light-grey;
          }
          :-ms-input-placeholder {
            color: $light-grey;
          }
          :-moz-placeholder {
            color: $light-grey;
          }

          input.form-control {
            color: $black;
            background-color: $white;
            z-index: 1;
          }
        }
      }
    }
  }
}