// Margin/Padding Helpers

@for $i from -30 through 80 {
  .ma-#{$i} { margin: #{$i}px !important; }
  .mt-#{$i} { margin-top: #{$i}px !important; }
  .mb-#{$i} { margin-bottom: #{$i}px !important; }
  .ml-#{$i} { margin-left: #{$i}px !important; }
  .mr-#{$i} { margin-right: #{$i}px !important; }
  .pa-#{$i} { padding: #{$i}px !important; }
  .pt-#{$i} { padding-top: #{$i}px !important; }
  .pb-#{$i} { padding-bottom: #{$i}px !important; }
  .pl-#{$i} { padding-left: #{$i}px !important; }
  .pr-#{$i} { padding-right: #{$i}px !important; }
}

.mt-115 { margin-top: 115px !important; }
.pb-145 { padding-bottom: 145px !important; }

.white { color: $white !important; }
.black { color: $black !important; }
.blue { color: $blue !important; }

.bordered-left {
  &:not(.one) {
    border-top: 4px solid $blue;
  }

  @include breakpoint(md) {
    &:not(.one) {
      border-left: 4px solid $blue;
      border-top: 0;
    }
  }
  
  &.one {
    border-left: 1px solid $blue;
  } 
}

.max-width-313 { max-width: 313px; }
.max-width-252 { max-width: 252px; }