// Fonts 
@font-face {
    font-family: 'SFUIDisplay100';
    src: url('../fonts/System San Francisco Display Ultralight.ttf');
}

@font-face {
    font-family: 'SFUIDisplay300';
    src: url('../fonts/System San Francisco Display Thin.ttf');
}

@font-face {
    font-family: 'SFUIDisplay600';
    src: url('../fonts/System San Francisco Display Regular.ttf');
}

@font-face {
    font-family: 'SFUIDisplay900';
    src: url('../fonts/System San Francisco Display Bold.ttf');
}

$SFUIDisplay100: 'SFUIDisplay100';
$SFUIDisplay300: 'SFUIDisplay300';
$SFUIDisplay600: 'SFUIDisplay600';
$SFUIDisplay900: 'SFUIDisplay900';

// Color

$blue: #0072ff;
$dark-blue: #0055e3;
$darker-blue: #003280;
$white: #fff;
$black: #363636;
$green: #01d46e;
$grey: #f5faff;
$light-grey: #939393;
$dark-grey: #f8f8f8;
$light-blue: #ebf4ff;